@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #777a79;
    border-radius: 4em;
}  

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #27282a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #27282a;
    overflow: hidden;
    border-radius: 0.25em;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;;
    background: #27282a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after {
    color:aquamarine;
}